* {

    box-sizing: border-box;

}


body {

    margin: 0;

    font-family: Arial, sans-serif;

    background: #f5f7fb;

    color: #222;

    transition: 0.3s;

}


.settings-container {

    width: 90%;

    max-width: 600px;

    margin: 50px auto;

}


#back-btn {

    border: none;

    background: none;

    font-size: 16px;

    cursor: pointer;

    margin-bottom: 30px;

    color: #222;

}


h1 {

    margin-bottom: 30px;

}


.setting-box {

    background: white;

    padding: 20px;

    margin-bottom: 20px;

    border-radius: 15px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

}


.setting-box h3 {

    margin-top: 0;

}


.setting-box input {

    width: 100%;

    padding: 12px;

    border: 1px solid #ddd;

    border-radius: 8px;

    font-size: 16px;

}


#theme-btn {

    padding: 10px 15px;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    background: #eeeeee;

    font-size: 15px;

}


#save-btn {

    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background: #6c63ff;

    color: white;

    font-size: 16px;

    cursor: pointer;

}


#save-btn:hover {

    opacity: 0.9;

}


#message {

    text-align: center;

    margin-top: 15px;

}


/* DARK MODE */

body.dark-mode {

    background: #121212;

    color: white;

}


body.dark-mode .setting-box {

    background: #1f1f1f;

    color: white;

}


body.dark-mode #back-btn {

    color: white;

}


body.dark-mode .setting-box input {

    background: #333;

    color: white;

    border: 1px solid #555;

}


body.dark-mode #theme-btn {

    background: #333;

    color: white;

}

.back-btn {

    margin: 20px;

    padding: 10px 18px;

    border: none;

    border-radius: 8px;

    background: #eeeeee;

    font-size: 16px;

    cursor: pointer;

}


.back-btn:hover {

    background: #dddddd;

}

.delete-btn {

    width: 100%;

    padding: 12px;

    margin-top: 20px;

    background: #dc3545;

    color: white;

    border: none;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;

}

.delete-btn:hover {

    background: #b02a37;

}