* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}


body {

    font-family: Arial, sans-serif;

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;

    background: linear-gradient(

        135deg,

        #f7f6ff,

        #eef2ff

    );

}


.login-card {

    width: 400px;

    padding: 40px;

    background: white;

    border-radius: 25px;

    text-align: center;

    box-shadow: 0 10px 40px rgba(

        0,

        0,

        0,

        0.1

    );

}


.login-card h1 {

    font-size: 32px;

    margin-bottom: 10px;

}


.login-card p {

    color: #667085;

    margin-bottom: 25px;

}


.login-card input {

    width: 100%;

    padding: 15px;

    margin-bottom: 15px;

    border: 1px solid #d9dce5;

    border-radius: 10px;

    font-size: 15px;

}


.login-btn {

    width: 100%;

    padding: 15px;

    border: none;

    border-radius: 10px;

    background: linear-gradient(

        135deg,

        #536dfe,

        #6758f5

    );

    color: white;

    font-size: 16px;

    cursor: pointer;

}


.signup-text {

    margin-top: 25px;

    font-size: 14px;

}


.signup-text span {

    color: #6758f5;

    font-weight: bold;

    cursor: pointer;

}
#login-error {

    color: #e63946;

    font-size: 14px;

    margin-bottom: 15px;

}